@{
    ViewBag.Title = "Home Page";
    // specify which layout page to use
    // no need to specify anymore, due to _ViewStart.cshtml
    // Layout = "_Layout";
    // inject this into the Views/Shared/_Layout
    // position specified by @RenderBody
}

<h1>The World</h1>
<p>This will be a fun website soon!</p>

<form>

    <div>
        <label>Date</label>
        <input />
    </div>

    <div>
        <label>Location</label>
        <input />
    </div>

    <div>
        <input type="submit" value="Add" />
    </div>

</form>